/* Extra Extra Large */
@media (min-width: 2560px) {
    .four-card {
        width: 18%;
    }
    .three-card {
        width: 22.5%;
    }
    .two-thirds-card {
        width: 61%;
    }

    .one-thirds-card {
        width: 30%;
    }
    .gov-image {
        width: 32.5%;
    }
    .gov-details {
        width: 62.5%;
    }
    .employee-card {
        width: 18%;
    }
}

/* Extra Large */
@media (min-width: 1920px) and (max-width: 2560px) {
    .four-card {
        width: 22.5%;
    }
    .three-card {
        width: 30%;
    }
    .two-thirds-card {
        width: 61%;
    }

    .one-thirds-card {
        width: 30%;
    }
    .gov-image {
        width: 32.5%;
    }

    .gov-details {
        width: 62.5%;
    }
    .employee-card {
        width: 22.5%;
    }
}

/* Large */
@media (min-width: 1280px) and (max-width: 1920px) {
    .four-card {
        width: 30%;
    }
    .three-card {
        width: 30%;
    }
    .two-thirds-card {
        width: 61%;
    }

    .one-thirds-card {
        width: 30%;
    }
    .gov-image {
        width: 32.5%;
    }

    .gov-details {
        width: 62.5%;
    }
    .employee-card {
        width: 22.5%;
    }
}

/* Medium */
@media (min-width: 960px) and (max-width: 1280px) {
    .four-card {
        width: 30%;
    }
    .three-card {
        width: 45%;
    }
    .two-thirds-card {
        width: 90%;
    }

    .one-thirds-card {
        width: 90%;
    }
    .gov-image {
        width: 32.5%;
    }

    .gov-details {
        width: 62.5%;
    }
    .employee-card {
        width: 45%;
    }
    .employee-card {
        width: 30%;
    }
}

/* Small */
@media (min-width: 600px) and (max-width: 960px) {
    .four-card {
        width: 45%;
    }
    .three-card {
        width: 45%;
    }
    .two-thirds-card {
        width: 90%;
    }

    .one-thirds-card {
        width: 90%;
    }
    .gov-image {
        width: 32.5%;
    }

    .gov-details {
        width: 62.5%;
    }
    .employee-card {
        width: 45%;
    }
}

/* Extra small */
@media (max-width: 600px) {
    .four-card {
        width: 90%;
    }
    .three-card {
        width: 90%;
    }
    .two-thirds-card {
        width: 90%;
    }
    .one-thirds-card {
        width: 90%;
    }
    .gov-image {
        width: 90%;
    }
    .gov-details {
        width: 90%;
    }
    .employee-card {
        width: 45%;
    }
}
